/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Nunito:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap");

/* CSS Variables Start */
:root {
  /* Theme Colors */
  --black: #000;
  --white: #fff;

  /* Theme Fonts */
  --font-family-1: "Lato", sans-serif;
  --font-family-2: "Poppins", sans-serif;
  --font-family-3: "Oswald", sans-serif;
  --font-family-4: "Ubuntu", sans-serif;
  --font-family-5: "Roboto", sans-serif;
  --font-family-6: "Nunito", sans-serif;
  --font-family-7: "Gideon", sans-serif;
}
/* CSS Variables End */

/* Reset Default Styles Start */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: var(--font-family-2);
}

body {
  overflow-x: hidden;
  background-color: #f8f8f8;
}
/* Reset Default Styles End */

/* Common Styles for Frequently Used Elements Start */
a {
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s linear;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
}

input,
textarea {
  outline: none;
}

img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
}

p {
  line-height: 1.6;
}
/* Common Styles for Frequently Used Elements End */

/* Reusable Components & Utility Classes Start */
/* Reusable Components & Utility Classes End */

/* Page-Specific Styles Start */
.site-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.calculator {
  width: 100%;
  max-width: 300px;
  background-color: #f5f5fa;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2rem;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding-inline: 0.5rem;
}

.header .time {
  font-size: 1.2rem;
  font-weight: 500;
}

.header .camera {
  width: 1.2rem;
  height: 1.2rem;
  background-color: black;
  border-radius: 50%;
}

.header i {
  font-size: 1.5rem;
  padding-left: 0.7rem;
}

.display-area {
  border: none;
  width: 100%;
  height: 15rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.132) inset;
  border-radius: 1rem;
  background-color: #ffffff;
  background-color: #f7f7f7;
  font-size: 2rem;
  font-family: var(--font-family-2);
  font-weight: 500;
  padding: 1rem;
  letter-spacing: 1.5px;
  resize: none;
}

.btns-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1.5rem;
  margin-top: 3rem;
}

.btns-container .btn {
  font-family: var(--font-family-2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  height: 4rem;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 5px 0px inset;
  background: #f5f5fa;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 #1d0dca17;
  color: #000000;
  color: grey;
  transition: 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

@media (hover: hover) {
  .btns-container .btn:hover {
    background: #f8f8ff;
    box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
  }
}

.btns-container .btn[data-key="="] {
  height: initial;
  grid-row: 4/-1;
  grid-column: 4/-1;
  background-color: black;
  color: rgb(255, 255, 255);
}

.btns-container .btn[data-key="clear"] {
  background-color: rgb(255, 0, 0);
  color: white;
  font-weight: 700;
}

.btns-container .btn[data-key="delete"] {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1.8rem;
}

.btns-container .btn[data-key="+"],
.btns-container .btn[data-key="-"],
.btns-container .btn[data-key="/"],
.btns-container .btn[data-key="x"] {
  background-color: rgb(214, 214, 214);
  color: rgb(0, 0, 0);
  font-size: 1.8rem;
}
/* Page-Specific Styles End */
